# dependencies
/node_modules

# production build
/build

# testing
**/*.test.js
**/*.test.jsx
**/*.spec.js
**/*.spec.jsx
/coverage
.nyc_output

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
